<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href='/static/styles/home.css' />
    <meta charset="utf-8">
    <title>Covid Upchaar Application</title>
  </head>
  <body>
    <h1> Welcome to the Covid Upchaar Application </h1>
    <form action="https://covidupchaar.herokuapp.com/activecases">
      <input type="submit" value="Covid Active Cases in India Prediction" />
    </form> <br/>
    <form action="https://covidupchaar.herokuapp.com/oxydemand">
      <input type="submit" value="Covid Oxygen Demand in India Prediction" />
    </form>
  
  </body>
</html>